/*
 * Device tree for ADI sc573-ezkit board
 *
 * Copyright 2014 Analog Devices Inc.
 *
 * Licensed under the GPL-2 or later.
 *
 */

/dts-v1/;

/include/ "sc57x.dtsi"

/ {
	model = "ADI sc573-ezkit";
	compatible = "adi,sc573-ezkit", "adi,sc57x";

	aliases {
		/* serial2 = &uart2; */
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0xF000000>;
	};

	scb {
		/* uart2: uart@0x31003800 {
			compatible = "arm,adi-uart4";
			reg = <0x31003800 0x40>;
			dma-channel = <37>, <38>;
			pinctrl-names = "default", "hwflow";
			pinctrl-0 = <&uart2_default>;
			pinctrl-1 = <&uart2_hwflow>;
			interrupt-parent = <&gic>;
			interrupts = <0 112 0>,
			             <0 113 0>,
			             <0 114 0>;
		}; */

		i2c0: twi@0x31001400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "adi,twi";
			reg = <0x31001400 0xFF>;
			interrupts = <0 115 0>;
			clock-khz = <100>;
			ssw0: gpio@0x21 {
				compatible = "microchip,mcp23017";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x21>;
			};
			ssw1: gpio@0x22 {
				compatible = "microchip,mcp23017";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x22>;
			};
			adau1979: adau1979@0x11 {
				compatible = "adi,adau1977";
				reg = <0x11>;
				reset-gpio = <&gpa 7 0>;
			};
			adau1962: adau1962@0x4 {
				compatible = "adi,adau1962";
				reg = <0x4>;
				reset-gpio = <&gpa 6 0>;
			};
		};

		spi_0: spi@0x3102E000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "adi,spi3";
			reg = <0x3102E000 0xFF>;
			interrupts = <0 101 0>;
			num-cs = <128>;
			dma-channel = <22>, <23>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_default>;

			spidev {
				#address-cells = <1>;
				size-cells = <1>;
				compatible = "rohm,dh2228fv";
				spi-max-frequency = <5000000>;
				reg = <38>;
			};
		};

		spi_2: spi@0x31044000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "adi,spi3";
			reg = <0x31044000 0xFF>;
			interrupts = <0 71 0>;
			num-cs = <128>;
			dma-channel = <26>, <27>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi2_quad>;

			flash: w25q128@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "winbond,w25q128";
				spi-max-frequency = <50000000>;
				reg = <31>;
				spi-cpol;
				spi-cpha;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				dma-mode;
				partition@0 {
					label = "uboot (spi)";
					reg = <0x0 0x80000>;
				};
				partition@1 {
					label = "kernel (spi)";
					reg = <0x80000 0x580000>;
				};
				partition@2 {
					label = "root file system (spi)";
					reg = <0x600000 0xa00000>;
				};
			};
		};

		video_encoder: disp {
			compatible = "adi,disp";
			card-name = "SC57X";
			type = <2>;
			dma-channel = <28>;
			interrupts = <0 83 0>;
			reg = <0x3102D000 0xfff>;
			spu_securep_id = <68>;
			i2c_bus_id = <0>;
			pinctrl-names = "8bit", "16bit";
			pinctrl-0 = <&ppi0_8b>;
			pinctrl-1 = <&ppi0_16b>;
		};

		video_decoder: cap {
			compatible = "adi,cap";
			card-name = "SC57X";
			type = <2>;
			dma-channel = <28>;
			interrupts = <0 83 0>;
			reg = <0x3102D000 0xfff>;
			spu_securep_id = <68>;
			i2c_bus_id = <0>;
			pinctrl-names = "8bit", "16bit";
			pinctrl-0 = <&ppi0_8b>;
			pinctrl-1 = <&ppi0_16b>;
		};

		lp0: linkport@0 {
			compatible = "linkport0";
			interrupt-parent = <&gic>;
			interrupts = <0 77 0>,
				     <0 78 0>;
			clock-div = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&lp0_default>;
		};

		lp1: linkport@1 {
			compatible = "linkport1";
			interrupt-parent = <&gic>;
			interrupts = <0 79 0>,
				     <0 80 0>;
			clock-div = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&lp1_default>;
		};

		i2s: i2s@0 {
			compatible = "sc5xx,i2s-dai";
			reg = <0x31002000 0x80>, <0x31002080 0x80>;
			interrupts = <0 61 0>, <0 63 0>;/* SPORT0 */
			dma-channel = <0>, <1>;
		};

		sound {
			compatible = "sc5xx,asoc-card";
			adi,cpu-dai = <&i2s>;
			adi,codec = <&adau1962>, <&adau1979>;
		};

		rotary@0x3100B000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "adi,rotary";
			reg = <0x3100B000 0xFF>;
			pinctrl-names = "default";
			pinctrl-0 = <&rotary0_default>;
			interrupts = <0 118 0>;
			rotary_rel_code = <0x08>;	/* REL_WHEEL */
			rotary_button_key = <28>;	/* KEY_ENTER */
			debounce = /bits/ 16 <10>;	/* 0..17 */
			debounce_en = /bits/ 16 <1>;
			cnt_mode = /bits/ 16 <0>;	/* CNTMODE_QUADENC */
			boundary_mode = /bits/ 16 <0>;	/* BNDMODE_COMP */
			invert_czm = /bits/ 16 <0>;
			invert_cud = /bits/ 16 <0>;
			invert_cdg = /bits/ 16 <0>;
		};

		pinctrl@0 {
			uart {
				uart1_default: uart1@0 {
					adi,group = "uart1grp";
					adi,function = "uart1";
				};
				uart1_hwflow: uart1@1 {
					adi,group = "uart1_hwflowgrp";
					adi,function = "uart1";
				};
				uart2_default: uart2@0 {
					adi,group = "uart2grp";
					adi,function = "uart2";
				};
				uart2_hwflow: uart2@1 {
					adi,group = "uart2_hwflowgrp";
					adi,function = "uart2";
				};
			};
			mmc {
				mmc0_default: mmc0@0 {
					adi,group = "mmc0grp";
					adi,function = "mmc0";
				};
			};

			rotary {
				rotary0_default: rotary0@0 {
					adi,group = "rotary0grp";
					adi,function = "rotary0";
				};
			};

			linkport {
				lp0_default: lp0@0 {
					adi,group = "lp0grp";
					adi,function = "lp0";
				};
				lp1_default: lp1@0 {
					adi,group = "lp1grp";
					adi,function = "lp1";
				};
			};
		};

		mmc0: mmc@0x31010000 {
			compatible = "adi,mmc";
			reg = <0x31010000 0xFFF>;
			interrupts = <0 123 0>;
			spu_securep_id = <41>;
			pinctrl-names = "default";
			pinctrl-0 = <&mmc0_default>;
			#address-cells = <1>;
			#size-cells = <0>;
			fifo-depth = <1024>;
			bus-width = <4>;
		};

		icc@0 {
			compatible = "adi,icc";
			reg = <0x20000000 0x1000>;
			interrupt-parent = <&gic>;
			interrupts = <0 206 1>;
			peerinfo = <1 71>, <2 72>;
		};
	};
};
